.message-index
  = render 'layouts/side_bar'
  .right-contents
    .right-contents__top
      .right-contents__top__left
        %p.current-group 
          = @group.name
        .current-group-member
          %p.current-group-member-title member:
          - @group.users.each do |user|
            .current-group-member-name
              = user.name
      .right-contents__top__right
        = link_to "Edit", edit_group_path(@group), class: "edit-btn"
    .right-contents__middle
      .message-contents
        - @messages.each do |message|
          .message-content
            .message-content--top
              .user-name
                = message.user.name
              .created-at
                = message.created_at.strftime("%Y/%m/%d %H:%M")
            .text
              - if message.content.present?
                = message.content
            = image_tag message.image.url, class: 'upload-image' if message.image.present?
    .right-contents__bottom
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form', placeholder: '本文'
        = f.label :image, for: "file-form" do
          = fa_icon "image"
          = f.file_field :image, class: 'file-form', id: "file-form"
        = f.submit 'Send', class: 'send-btn'
